body {
  background-color: rgb(245, 245, 245);
}
.header-text {
  color: rgb(3, 12, 55);
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  font-weight: bold;
}
.content {
  background-color: white;
  border: 1px solid rgb(234, 234, 234);
  height: 600px;
  width: 1100px;
  margin: 60px auto;
}
.meaning {
  display: flex;
  margin-top: 50px;
  font-size: 20px;
}
.description {
  margin-left: 220px;

}
.size {
  margin-left: 220px;

}
.quantily{
  margin-left: 50px;
}
.remove{
  margin-left: 150px;
}
.price{
  margin-left: 50px;
}
.one-line {
  background-color: rgb(234, 234, 234); /* Цвет линии */
  height: 3px;
  width: 900px;
  margin: 30px auto;
}
.shtan {
  height: 120px;
  width: 120px;
  margin: 20px 0 0 100px;
}
.first-product {
  display: flex;
}
.name-code{
  display: flex;
  flex-direction: column;
}
.name-shtan {
  font-weight: bold;
  font-size: 25px;
  margin: 50px 0 0 20px;
}
.code-product {
  margin-left: 20px;
}