body {
  background-color: rgb(245, 245, 245);
  font-family: Arial;
}
.header-text {
  color: rgb(3, 12, 55);
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  font-weight: bold;
}
.content {
  background-color: white;
  border: 1px solid rgb(234, 234, 234);
  height: 900px;
  width: 1300px;
  margin: 60px auto;
}
.meaning {
  display: flex;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
}
.description {
  margin-left: 220px;

}
.size {
  margin-left: 270px;

}
.quantily{
  margin-left: 70px;
}
.remove{
  margin-left: 170px;
}
.price{
  margin-left: 70px;
}
.one-line {
  background-color: rgb(234, 234, 234); /* Цвет линии */
  height: 3px;
  width: 1100px;
  margin: 20px auto;
}
.shtan {
  height: 120px;
  width: 120px;
  margin: 20px 0 0 100px;
}
.first-product {
  display: flex;
}
.name-code{
  display: flex;
  flex-direction: column;
}
.name-shtan {
  font-weight: bold;
  font-size: 25px;
  margin: 50px 0 0 20px;
}
.code-product {
  margin: 5px 0 0 20px;
}
.size-product {
  height: 57px;
  width: 57px;
  border: 1px solid rgb(234, 234, 234);
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  font-weight: bold;
  margin: 45px 0 0 90px;
}
.plus-btn {
  height: 59px;
  width: 59px;
  border: 1px solid rgb(234, 234, 234);
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  margin: 45px 0 0 60px;
  background-color: rgb(3, 12, 55);
  color: white;
  outline: none;
}
.num-goods {
  height: 55px;
  width: 55px;
  border: 1px solid rgb(234, 234, 234);
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  margin: 45px -5px;
  outline: none;
}
.minus-btn {
  height: 59px;
  width: 59px;
  border: 1px solid rgb(234, 234, 234);
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  margin-top: 45px;
  outline: none;
}
.remove-bl {
  height: 57px;
  width: 57px;
  border: 1px solid rgb(234, 234, 234);
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  margin: 45px 0 0 65px;
}
.price-bl {
  height: 57px;
  width: 57px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  margin: 45px 0 0 70px;
}
.size-product-2 {
  height: 57px;
  width: 57px;
  border: 1px solid rgb(234, 234, 234);
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  font-weight: bold;
  margin: 45px 0 0 40px;
}
.two {
  margin-top: 30px;
}
.tws {
  margin-left: 73px;
}
.cost {
  display: flex;
  font-size: 20px;
  margin-top: 60px;
}
.discount {
  border: 3px solid rgb(234, 234, 234);
  width: 250px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-left: 100px;
}
.delivery {
  border: 3px solid rgb(234, 234, 234);
  width: 250px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-left: 30px;
}
.subtotal {
  border: 3px solid rgb(234, 234, 234);
  width: 250px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-left: 30px;
}
.total {
  border: 3px solid rgb(234, 234, 234);
  width: 250px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-left: 30px;
}
.pricee {
  font-weight: bold;
  margin-left: 65px;
}
.text {
  font-size: 15px;
  margin: 40px 0 0 130px;
}
.btn-input {
 display: flex;
}
.promocode {
  margin: 30px 0 0 100px;
  height: 50px;
  width: 540px;
  outline: none;
  border: 2px solid rgb(234, 234, 234);
  font-size: 18px;
  padding-left: 30px;
}
.apply-discount {
  border: 2px solid rgb(234, 234, 234);
  height: 56px;
  width: 250px;
  margin-top: 30px;
  line-height: 50px;
  background-color: rgb(3, 12, 55);
  color: white;
  outline: none;
  font-size: 16px;
  padding-right: 90px;
}
