body {
  font-family: Verdana;
  background-color: #fcc4a2;
}
.content {
  display: flex;
}
.block {
  height: 700px;
  width: 500px;
  background-color: white;
  margin: 100px 0 0 110px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  color: #7e8eff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}
.header-prev a {
  text-decoration: none;
  color: #7e8eff;
  font-weight: bold;
  margin: 0 90px 0 10px;
}
.header-next a {
  text-decoration: none;
  color: #7e8eff;
  font-weight: bold;
  margin-left: 90px;
}
.header-march {
  font-family: Arial;
  font-weight: lighter;
  font-size: 20px;
}
.line {
  height: 1px;
  width: 500px;
  background-color: #eeeeee;
  margin-top: 30px;
}
.main {
  display: flex;
  flex-direction: column;
}
.main-string {
  display: flex;
  margin: 20px 0 0 30px;
  justify-content: space-between;
}
.main-string-checkbox {
  display: flex;
  align-items: center;
}
.main-string_checkbox-input {
 transform: scale(2);
}
.main-string-checkbox_text {
  margin-left: 22px;
  text-align: left;
}
.main-string_time {
  font-size: 15px;
  margin: 23px 20px;
}
p {
  color: #7e8eff;
  font-size: 20px;
}
.two {
  margin-top: 120px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_tasks {
  font-size: 20px;
  margin-left: 22px;
}
.footer--add {
  margin-right: 22px;
  font-size: 20px;
  text-decoration: none;
  color: #7e8eff;
  font-weight: bold;
}
.main-string-checkbox_text--active {
  text-decoration: line-through;
  font-size: 20px;
  margin-left: 20px;
  opacity: 0.6;
}