body {
  font-family: Verdana;
  background-color: #fcc4a2;
}
.content {
  display: flex;
}
.block {
  height: 700px;
  width: 500px;
  background-color: white;
  margin: 100px 0 0 110px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  color: #7e8eff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}
.header-prev a {
  text-decoration: none;
  color: #7e8eff;
  font-weight: bold;
  margin: 0 90px 0 10px;
}
.header-next a {
  text-decoration: none;
  color: #7e8eff;
  font-weight: bold;
  margin-left: 90px;
}
.header-march {
  font-family: Arial;
  font-weight: lighter;
  font-size: 20px;
}
.line {
  height: 1px;
  width: 500px;
  background-color: #eeeeee;
  margin-top: 30px;
}